.b-tooltip
{
    background: white;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
    min-width: 60px;
    padding: 0.3em 0.5em 0.1em;
    position: absolute;
}
